#!/bin/sh

# # Sets and enables heart (recommended only in daemon mode)
case $RELEASE_COMMAND in
  daemon*)
    HEART_COMMAND="$RELEASE_ROOT/bin/$RELEASE_NAME $RELEASE_COMMAND"
    export HEART_COMMAND
    export ELIXIR_ERL_OPTIONS="-heart"
    ;;
  *)
    ;;
esac

# # Set the release to load code on demand (interactive) instead of preloading (embedded).
# export RELEASE_MODE=interactive

# # Set the release to work across nodes.
# # RELEASE_DISTRIBUTION must be "sname" (local), "name" (distributed) or "none".
# export RELEASE_DISTRIBUTION=name
# export RELEASE_NODE=<%= @release.name %>

<%= if @release.name == "standalone_mac_os" do %>
export SAK_BASE_DATA_DIR="<%= Path.join([:filename.basedir(:user_data, "SAK")], [os: :darwin]) %>"
<% end %>

<%= if @release.name == "standalone_windows" do %>
export SAK_BASE_DATA_DIR="<%= Path.join([:filename.basedir(:site_data, "SAK")], [os: :windows]) %>"
<% end %>
